postgresql/

# 用于生成了特定名字的项目的忽略文件
node_modules/

**/.env
.env



target/
syncmed/target/**
!syncmed/target/
!syncmed/target/release/
!syncmed/target/release/syncmed
!syncmed/target/site/
!syncmed/target/site/**
!syncmed/Cargo.toml